<a href="https://colab.research.google.com/github/Akhil-alang/lists-in-python/blob/main/akhil_25B25A4431pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAME : Pothireddy Akhil

roll : 25B25A4431

1.  define a list in data strutures :

a list is a linear data struccture that stores a collectionof elements in sequential order .in python ,a list is dynamic ,indexed , and can can store heterogenous data types.

**characteristics of lists**

.ordered

.indexed

.mutable

.dynamic size

.allows duplicates

2 . program to create a list of student name and traverse it

In [ ]:
students = ["akhil","jyothi","sai","hemanth","arya","nani","tharun","praveen","pavan"]
print ("student names  :")
for student in students:
  print (student)

student names  :
akhil
jyothi
sai
hemanth
arya
nani
tharun
praveen
pavan

3.insertion operation lists

python uses insert (index,element).

In [ ]:
numbers=[1,31,20,21,16,19,15]
numbers.insert(8,601)
print(numbers)

[1, 31, 20, 21, 16, 19, 15, 601]

delection from a list

a)delection by value

In [ ]:
numbers=[1,31,20,21,16,19,15,601,12]
numbers.remove(12)
print(numbers)

[1, 31, 20, 21, 16, 19, 15, 601]

b. deletion by index

In [ ]:
numbers=[1,31,20,21,16,19,15,601,12]
del numbers[8]
print(numbers)

[1, 31, 20, 21, 16, 19, 15, 601]

5. program to search for an element in a list

In [ ]:
numbers=[1,31,21,20,16,19,601]
key=int(input ("enter a find number") )
if key in numbers:
  print("element found")
else:
  print("element not found")

enter a find number20
element found

6.Program to Update an Element Using Index

In [19]:
numbers = [10, 20, 30, 40]

numbers[2] = 35

print("Updated list:", numbers)

Updated list: [10, 20, 35, 40]

7.Program Using List Methods


(a) Append an Element

(b) Sort the List

(c) Reverse the List

In [20]:
numbers = [40, 10, 30, 20]

numbers.append(50)
numbers.sort()
numbers.reverse()

print("Final list:", numbers)

Final list: [50, 40, 30, 20, 10]

8. Nested List


A nested list is a list that contains other lists as elements.

Program to Create and Access a Nested List

In [21]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("Accessed element:", matrix[1][2])

Accessed element: 6

9. Real-Time Application of Lists (Student Attendance)

In [22]:
attendance = []

attendance.append("Akhil")
attendance.append("Rahul")
attendance.append("Sneha")

print("Students Present:")
for student in attendance:
    print(student)

Students Present:
Akhil
Rahul
Sneha

10.Time Complexity of List Operations

Operation	Time Complexity
Traversal	O(n)

Searching	O(n)

Insertion	O(n)

Deletion	O(n)

Explanation:
Traversal and searching scan elements one by one